.images-loader__images {
    display: grid;
    grid-template-columns: auto;
    column-gap: 25px;
    row-gap: 20px;
    margin-top: 15px;
}

.images-loader__image {

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
