.repeater {
    width: 100%;
}

.repeater__basic {
    width: 100%;

    .repeater__item {
        margin-top: unset !important;
    }

    .repeater__remove-btn {
        display: none;
    }
}

.repeater__item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.repeater__item__body {
    flex-grow: 1;
}

.repeater__remove-btn {
    margin-left: 15px;
}

.repeater__actions {
    margin-top: 15px;
}
