.gallery {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gallery-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.imager__controls {
  margin-bottom: 15px;
}

.imager__item__actions {
  margin-top: 10px;
}

.imager__item:not(:last-child) {
  margin-bottom: 15px;
}

.repeater {
  width: 100%;
}

.repeater__basic {
  width: 100%;
}
.repeater__basic .repeater__item {
  margin-top: unset !important;
}
.repeater__basic .repeater__remove-btn {
  display: none;
}

.repeater__item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.repeater__item__body {
  flex-grow: 1;
}

.repeater__remove-btn {
  margin-left: 15px;
}

.repeater__actions {
  margin-top: 15px;
}
