.gallery {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gallery-item {

    img {
        object-fit: cover;
    }
}

@import 'imager';
